.monaco-green {
  color: #2bf496;
  font-family: monaco, Consolas, Lucida Console, monospace;
}

.square-btn {
  width: 120px;
  height: 120px;
  border-radius: 7px;
  background: transparent;
  border-color: #2bf496;
  margin: 20px;
  color: white;
  font-size: 75px;
  vertical-align: top;
}

.mode-btn {
  border-radius: 5px;
  background: transparent;
  border-color: #2bf496;
}
